.Link {
    padding: 2rem 6rem;
    font-size: 5rem;
    font-weight: 700;
    font-family: 'Inter';
    cursor: pointer;
    color: #FFFFFF;
}
.Link:hover {
    color: #686868;
    text-decoration: underline;
}